In [1]:
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
# Read Country table to get foreign key value
df_ref = pd.read_csv("./cleaned/Country.csv")
df_ref.head()

   id            name  population
0   1     Afghanistan    39074280
1   2         Albania     2877239
2   3         Algeria    43984569
3   4  American Samoa       55169
4   5         Andorra       77287

In [3]:
# Read original CSV
date_parser = lambda x: datetime.strptime(x, '%Y-%m-%d')
df_in = pd.read_csv("./raw/covid-19-world-cases-deaths-testing.csv", parse_dates=['date'], date_parser=date_parser)
df_in.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [4]:
# Initialize new dataframe
columns = [
    "record_date",
    "daily_tests",
    "daily_positive_cases",
    "daily_deaths",
    "daily_vaccination",
    "country",
    "country_id"
]
df_out = pd.DataFrame([], columns=columns)
df_out.head()

Empty DataFrame
Columns: [record_date, daily_tests, daily_positive_cases, daily_deaths, daily_vaccination, country, country_id]
Index: []

In [5]:
for country in df_in['location'].unique():
    country_ids = df_ref[df_ref['name'] == country]["id"] 
    if(len(country_ids) == 0):
        continue
    country_id = country_ids.iloc[0]
    print('[INFO] Country_id: {}, Country: {}'.format(country_id, country))
    # Initialize total vaccination count for each country
    total_vaccination_count = None
    # Filter rows of any particular country
    df_country = df_in[df_in['location'] == country].sort_values(by=['date'])
    for i in range(len(df_country)):
        current = df_country.iloc[i]
        # date, daily_tests, daily_positive_count, daily_deaths are directly taken from the current row values
        record_date = current["date"]
        daily_tests = current["new_tests"]
        daily_positive_cases = current["new_cases"]
        daily_deaths = current["new_deaths"]
        # Calculate daily vaccination count using total vaccination count
        # If it's the first day, we do not have previous day's record
        # Take the maximum value if both total_vaccination and new_vaccination values are known
        # Else, take the total vaccination count if it's known
        # Else, take the daily vaccination count if it's known
        # Else, daily vaccination count is unknown
        if(i == 0):
            if((not np.isnan(current["total_vaccinations"])) and (not np.isnan(current["new_vaccinations"]))):
                daily_vaccination = max(current["total_vaccinations"], current["new_vaccinations"])
                total_vaccination_count = current["total_vaccinations"]
            elif(not np.isnan(current["total_vaccinations"])):
                daily_vaccination = current["total_vaccinations"]
                total_vaccination_count = current["total_vaccinations"]
            elif(not np.isnan(current["new_vaccinations"])):
                daily_vaccination = current["new_vaccinations"]
            else:
                daily_vaccination = None
        # For all other days, we have previous day's record
        # If we know total vaccination count of current day, previous, and also the daily vaccination count of the current day (I),
        # Calculate the daily vaccination count (II) by subtracting previous day total vaccination count from the current day total vaccination count,
        # And find out the maximum value between I and II.
        # Else, If total vaccination count for both current and previous days are known,
        # Calculate the daily vaccination count by subtracting previous day total vaccination count from the current day total vaccination count 
        # Else, If total vaccination count of only current day is known,
        # Calculate the daily vaccination count by subtracting total vaccination count of the country from current day's total vaccination count
        # Else, take the daily vaccination count if it's known
        # Else, daily vaccination count is unknown
        else:
            previous = df_country.iloc[i - 1]
            if(((not np.isnan(current["total_vaccinations"])) and (not np.isnan(previous["total_vaccinations"]))) and
               (not np.isnan(current["new_vaccinations"]))):
                daily_vaccination = max(
                    current["total_vaccinations"] - previous["total_vaccinations"],
                    current["new_vaccinations"]
                )
                total_vaccination_count = current["total_vaccinations"]
            elif((not np.isnan(current["total_vaccinations"])) and (not np.isnan(previous["total_vaccinations"]))):
                daily_vaccination = current["total_vaccinations"] - previous["total_vaccinations"]
                total_vaccination_count = current["total_vaccinations"]
            elif((not np.isnan(current["total_vaccinations"])) and (total_vaccination_count is not None)):
                daily_vaccination = current["total_vaccinations"] - total_vaccination_count
                total_vaccination_count = current["total_vaccinations"]
            elif(not np.isnan(current["total_vaccinations"])):
                daily_vaccination = current["total_vaccinations"]
                total_vaccination_count = current["total_vaccinations"]
            elif(not np.isnan(current["new_vaccinations"])):
                daily_vaccination = current["new_vaccinations"]
            else:
                daily_vaccination = None
                
        new_row = {
            "record_date": record_date,
            "daily_tests": daily_tests,
            "daily_positive_cases": daily_positive_cases,
            "daily_deaths": daily_deaths,
            "daily_vaccination": daily_vaccination,
            "country": country,
            "country_id": country_id
        }
        df_out = df_out.append(new_row, ignore_index=True)

[INFO] Country_id: 1, Country: Afghanistan
[INFO] Country_id: 2, Country: Albania
[INFO] Country_id: 3, Country: Algeria
[INFO] Country_id: 5, Country: Andorra
[INFO] Country_id: 6, Country: Angola
[INFO] Country_id: 7, Country: Anguilla
[INFO] Country_id: 8, Country: Antigua and Barbuda
[INFO] Country_id: 9, Country: Argentina
[INFO] Country_id: 10, Country: Armenia
[INFO] Country_id: 11, Country: Aruba
[INFO] Country_id: 12, Country: Australia
[INFO] Country_id: 13, Country: Austria
[INFO] Country_id: 14, Country: Azerbaijan
[INFO] Country_id: 15, Country: Bahamas
[INFO] Country_id: 16, Country: Bahrain
[INFO] Country_id: 17, Country: Bangladesh
[INFO] Country_id: 18, Country: Barbados
[INFO] Country_id: 19, Country: Belarus
[INFO] Country_id: 20, Country: Belgium
[INFO] Country_id: 21, Country: Belize
[INFO] Country_id: 22, Country: Benin
[INFO] Country_id: 23, Country: Bermuda
[INFO] Country_id: 24, Country: Bhutan
[INFO] Country_id: 25, Country: Bolivia
[INFO] Country_id: 26, Country: Bosnia and Herzegovina
[INFO] Country_id: 27, Country: Botswana
[INFO] Country_id: 28, Country: Brazil
[INFO] Country_id: 29, Country: British Virgin Islands
[INFO] Country_id: 30, Country: Brunei
[INFO] Country_id: 31, Country: Bulgaria
[INFO] Country_id: 32, Country: Burkina Faso
[INFO] Country_id: 33, Country: Burundi
[INFO] Country_id: 34, Country: Cambodia
[INFO] Country_id: 35, Country: Cameroon
[INFO] Country_id: 36, Country: Canada
[INFO] Country_id: 37, Country: Cape Verde
[INFO] Country_id: 39, Country: Cayman Islands
[INFO] Country_id: 40, Country: Central African Republic
[INFO] Country_id: 41, Country: Chad
[INFO] Country_id: 43, Country: Chile
[INFO] Country_id: 44, Country: China
[INFO] Country_id: 45, Country: Colombia
[INFO] Country_id: 46, Country: Comoros
[INFO] Country_id: 47, Country: Congo
[INFO] Country_id: 48, Country: Cook Islands
[INFO] Country_id: 49, Country: Costa Rica
[INFO] Country_id: 50, Country: Cote d'Ivoire
[INFO] Country_id: 51, Country: Croatia
[INFO] Country_id: 52, Country: Cuba
[INFO] Country_id: 53, Country: Curacao
[INFO] Country_id: 54, Country: Cyprus
[INFO] Country_id: 55, Country: Czechia
[INFO] Country_id: 56, Country: Democratic Republic of Congo
[INFO] Country_id: 57, Country: Denmark
[INFO] Country_id: 58, Country: Djibouti
[INFO] Country_id: 59, Country: Dominica
[INFO] Country_id: 60, Country: Dominican Republic
[INFO] Country_id: 61, Country: Ecuador
[INFO] Country_id: 62, Country: Egypt
[INFO] Country_id: 63, Country: El Salvador
[INFO] Country_id: 64, Country: Equatorial Guinea
[INFO] Country_id: 65, Country: Eritrea
[INFO] Country_id: 66, Country: Estonia
[INFO] Country_id: 67, Country: Eswatini
[INFO] Country_id: 68, Country: Ethiopia
[INFO] Country_id: 69, Country: Faeroe Islands
[INFO] Country_id: 70, Country: Falkland Islands
[INFO] Country_id: 71, Country: Fiji
[INFO] Country_id: 72, Country: Finland
[INFO] Country_id: 73, Country: France
[INFO] Country_id: 75, Country: French Polynesia
[INFO] Country_id: 76, Country: Gabon
[INFO] Country_id: 77, Country: Gambia
[INFO] Country_id: 78, Country: Georgia
[INFO] Country_id: 79, Country: Germany
[INFO] Country_id: 80, Country: Ghana
[INFO] Country_id: 81, Country: Gibraltar
[INFO] Country_id: 82, Country: Greece
[INFO] Country_id: 83, Country: Greenland
[INFO] Country_id: 84, Country: Grenada
[INFO] Country_id: 87, Country: Guatemala
[INFO] Country_id: 88, Country: Guinea
[INFO] Country_id: 89, Country: Guinea-Bissau
[INFO] Country_id: 90, Country: Guyana
[INFO] Country_id: 91, Country: Haiti
[INFO] Country_id: 92, Country: Honduras
[INFO] Country_id: 93, Country: Hong Kong
[INFO] Country_id: 94, Country: Hungary
[INFO] Country_id: 95, Country: Iceland
[INFO] Country_id: 96, Country: India
[INFO] Country_id: 97, Country: Indonesia
[INFO] Country_id: 98, Country: Iran
[INFO] Country_id: 99, Country: Iraq
[INFO] Country_id: 100, Country: Ireland
[INFO] Country_id: 101, Country: Isle of Man
[INFO] Country_id: 102, Country: Israel
[INFO] Country_id: 103, Country: Italy
[INFO] Country_id: 104, Country: Jamaica
[INFO] Country_id: 105, Country: Japan
[INFO] Country_id: 106, Country: Jordan
[INFO] Country_id: 107, Country: Kazakhstan
[INFO] Country_id: 108, Country: Kenya
[INFO] Country_id: 109, Country: Kiribati
[INFO] Country_id: 110, Country: Kuwait
[INFO] Country_id: 111, Country: Kyrgyzstan
[INFO] Country_id: 112, Country: Laos
[INFO] Country_id: 113, Country: Latvia
[INFO] Country_id: 114, Country: Lebanon
[INFO] Country_id: 115, Country: Lesotho
[INFO] Country_id: 116, Country: Liberia
[INFO] Country_id: 117, Country: Libya
[INFO] Country_id: 118, Country: Liechtenstein
[INFO] Country_id: 119, Country: Lithuania
[INFO] Country_id: 120, Country: Luxembourg
[INFO] Country_id: 121, Country: Macao
[INFO] Country_id: 122, Country: Madagascar
[INFO] Country_id: 123, Country: Malawi
[INFO] Country_id: 124, Country: Malaysia
[INFO] Country_id: 125, Country: Maldives
[INFO] Country_id: 126, Country: Mali
[INFO] Country_id: 127, Country: Malta
[INFO] Country_id: 128, Country: Marshall Islands
[INFO] Country_id: 130, Country: Mauritania
[INFO] Country_id: 131, Country: Mauritius
[INFO] Country_id: 133, Country: Mexico
[INFO] Country_id: 135, Country: Moldova
[INFO] Country_id: 136, Country: Monaco
[INFO] Country_id: 137, Country: Mongolia
[INFO] Country_id: 138, Country: Montenegro
[INFO] Country_id: 139, Country: Montserrat
[INFO] Country_id: 140, Country: Morocco
[INFO] Country_id: 141, Country: Mozambique
[INFO] Country_id: 142, Country: Myanmar
[INFO] Country_id: 143, Country: Namibia
[INFO] Country_id: 144, Country: Nauru
[INFO] Country_id: 145, Country: Nepal
[INFO] Country_id: 146, Country: Netherlands
[INFO] Country_id: 147, Country: New Caledonia
[INFO] Country_id: 148, Country: New Zealand
[INFO] Country_id: 149, Country: Nicaragua
[INFO] Country_id: 150, Country: Niger
[INFO] Country_id: 151, Country: Nigeria
[INFO] Country_id: 152, Country: Niue
[INFO] Country_id: 154, Country: North Macedonia
[INFO] Country_id: 156, Country: Norway
[INFO] Country_id: 157, Country: Oman
[INFO] Country_id: 158, Country: Pakistan
[INFO] Country_id: 159, Country: Palau
[INFO] Country_id: 160, Country: Panama
[INFO] Country_id: 161, Country: Papua New Guinea
[INFO] Country_id: 162, Country: Paraguay
[INFO] Country_id: 163, Country: Peru
[INFO] Country_id: 164, Country: Philippines
[INFO] Country_id: 165, Country: Poland
[INFO] Country_id: 166, Country: Portugal
[INFO] Country_id: 168, Country: Qatar
[INFO] Country_id: 170, Country: Romania
[INFO] Country_id: 171, Country: Russia
[INFO] Country_id: 172, Country: Rwanda
[INFO] Country_id: 174, Country: Saint Helena
[INFO] Country_id: 175, Country: Saint Kitts and Nevis
[INFO] Country_id: 176, Country: Saint Lucia
[INFO] Country_id: 179, Country: Saint Vincent and the Grenadines
[INFO] Country_id: 180, Country: Samoa
[INFO] Country_id: 181, Country: San Marino
[INFO] Country_id: 182, Country: Sao Tome and Principe
[INFO] Country_id: 183, Country: Saudi Arabia
[INFO] Country_id: 184, Country: Senegal
[INFO] Country_id: 185, Country: Serbia
[INFO] Country_id: 186, Country: Seychelles
[INFO] Country_id: 187, Country: Sierra Leone
[INFO] Country_id: 188, Country: Singapore
[INFO] Country_id: 190, Country: Slovakia
[INFO] Country_id: 191, Country: Slovenia
[INFO] Country_id: 192, Country: Solomon Islands
[INFO] Country_id: 193, Country: Somalia
[INFO] Country_id: 194, Country: South Africa
[INFO] Country_id: 195, Country: South Korea
[INFO] Country_id: 196, Country: South Sudan
[INFO] Country_id: 197, Country: Spain
[INFO] Country_id: 198, Country: Sri Lanka
[INFO] Country_id: 200, Country: Sudan
[INFO] Country_id: 201, Country: Suriname
[INFO] Country_id: 202, Country: Sweden
[INFO] Country_id: 203, Country: Switzerland
[INFO] Country_id: 204, Country: Syria
[INFO] Country_id: 205, Country: Taiwan
[INFO] Country_id: 206, Country: Tajikistan
[INFO] Country_id: 207, Country: Tanzania
[INFO] Country_id: 208, Country: Thailand
[INFO] Country_id: 209, Country: Timor
[INFO] Country_id: 210, Country: Togo
[INFO] Country_id: 211, Country: Tokelau
[INFO] Country_id: 212, Country: Tonga
[INFO] Country_id: 213, Country: Trinidad and Tobago

[INFO] Country_id: 214, Country: Tunisia
[INFO] Country_id: 215, Country: Turkey
[INFO] Country_id: 216, Country: Turkmenistan
[INFO] Country_id: 217, Country: Turks and Caicos Islands
[INFO] Country_id: 218, Country: Tuvalu
[INFO] Country_id: 220, Country: Uganda
[INFO] Country_id: 221, Country: Ukraine
[INFO] Country_id: 222, Country: United Arab Emirates
[INFO] Country_id: 223, Country: United Kingdom
[INFO] Country_id: 224, Country: United States
[INFO] Country_id: 225, Country: Uruguay
[INFO] Country_id: 226, Country: Uzbekistan
[INFO] Country_id: 227, Country: Vanuatu
[INFO] Country_id: 228, Country: Vatican
[INFO] Country_id: 229, Country: Venezuela
[INFO] Country_id: 230, Country: Vietnam
[INFO] Country_id: 231, Country: Wallis and Futuna
[INFO] Country_id: 233, Country: Yemen
[INFO] Country_id: 234, Country: Zambia
[INFO] Country_id: 235, Country: Zimbabwe

In [6]:
# Remove aggregated data
df_out = df_out.drop(df_out[df_out["country_id"] == "World"].index)
df_out = df_out.drop(df_out[df_out["country_id"] == "International"].index)
df_out = df_out.drop(df_out[df_out["country_id"] == "Africa"].index)
df_out = df_out.drop(df_out[df_out["country_id"] == "Asia"].index)
df_out = df_out.drop(df_out[df_out["country_id"] == "Europe"].index)
df_out = df_out.drop(df_out[df_out["country_id"] == "European Union"].index)
df_out = df_out.drop(df_out[df_out["country_id"] == "North America"].index)
df_out = df_out.drop(df_out[df_out["country_id"] == "Oceania"].index)
df_out = df_out.drop(df_out[df_out["country_id"] == "South America"].index)

# Remove countries data for which population is unknown
df_out = df_out.drop(df_out[df_out["country_id"] == "Jersey"].index)
df_out = df_out.drop(df_out[df_out["country_id"] == "Kosovo"].index)
df_out.drop(df_out[df_out["country_id"] == "Northern Cyprus"].index)
df_out = df_out.drop(df_out[df_out["country_id"] == "Pitcairn"].index)

In [7]:
df_out

,record_date,daily_tests,daily_positive_cases,daily_deaths,daily_vaccination,country,country_id
0,2020-02-24,NaN,5.0,NaN,NaN,Afghanistan,1
1,2020-02-25,NaN,0.0,NaN,NaN,Afghanistan,1
2,2020-02-26,NaN,0.0,NaN,NaN,Afghanistan,1
3,2020-02-27,NaN,0.0,NaN,NaN,Afghanistan,1
4,2020-02-28,NaN,0.0,NaN,NaN,Afghanistan,1
...,...,...,...,...,...,...,...
109128,2021-09-10,2411.0,107.0,11.0,54428.0,Zimbabwe,235
109129,2021-09-11,2166.0,57.0,4.0,52457.0,Zimbabwe,235
109130,2021-09-12,2035.0,49.0,2.0,NaN,Zimbabwe,235
109131,2021-09-13,NaN,130.0,5.0,43451.0,Zimbabwe,235
109132,2021-09-14,NaN,418.0,7.0,48405.0,Zimbabwe,235

In [8]:
# Rename some of the country names to match with the entries in Country table
df_out.loc[df_out.country_id == 'Bonaire Sint Eustatius and Saba', 'country_id'] = 'Caribbean Netherlands'
df_out.loc[df_out.country_id == 'Micronesia (country)', 'country_id'] = 'Micronesia'
df_out.loc[df_out.country_id == 'Sint Maarten (Dutch part)', 'country_id'] = 'Sint Maarten'

In [9]:
df_out

,record_date,daily_tests,daily_positive_cases,daily_deaths,daily_vaccination,country,country_id
0,2020-02-24,NaN,5.0,NaN,NaN,Afghanistan,1
1,2020-02-25,NaN,0.0,NaN,NaN,Afghanistan,1
2,2020-02-26,NaN,0.0,NaN,NaN,Afghanistan,1
3,2020-02-27,NaN,0.0,NaN,NaN,Afghanistan,1
4,2020-02-28,NaN,0.0,NaN,NaN,Afghanistan,1
...,...,...,...,...,...,...,...
109128,2021-09-10,2411.0,107.0,11.0,54428.0,Zimbabwe,235
109129,2021-09-11,2166.0,57.0,4.0,52457.0,Zimbabwe,235
109130,2021-09-12,2035.0,49.0,2.0,NaN,Zimbabwe,235
109131,2021-09-13,NaN,130.0,5.0,43451.0,Zimbabwe,235
109132,2021-09-14,NaN,418.0,7.0,48405.0,Zimbabwe,235

In [10]:
df_out.to_csv("./cleaned/Country_covid_data.csv", index=False)